.orderview{
    background-color: palegreen;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.orderview div{
    padding: 14px 16px;
}
.orderview div.product-detail{
}

.orderview div.pay-and-date{
    
}